.DS_Store
node_modules
.turbo
*.log
next-build
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
public/storybook
storybook-static/
/.idea
/apps/shield-react/public/storybook/
/out/
/apps/react-docs/public/storybook/
