:root {
  /**
	* @tokens Color Bases
	* @presenter Color
  */
  --color-base-gray-light: #cccccc;
  --color-base-gray-medium: #999999;
  --color-base-gray-dark: #111111;
  --color-base-white: #ffffff;
  --color-base-black: #000000;
  --color-base-grey-100: #f4f5f6;
  --color-base-grey-200: #e9eaec;
  --color-base-grey-300: #d2d5d8;
  --color-base-grey-400: #bcbfc5;
  --color-base-grey-500: #a5aab1;
  --color-base-grey-600: #68707c;
  --color-base-grey-700: #4b5563;
  --color-base-grey-800: #1e2b3c;
  --color-base-grey-900: #141e29;
  --color-base-red-100: #f9d5db;
  --color-base-red-200: #f3abb6;
  --color-base-red-300: #ec8292;
  --color-base-red-400: #e6586d;
  --color-base-red-500: #e02e49;
  --color-base-red-600: #b3253a;
  --color-base-red-700: #861c2c;
  --color-base-red-800: #5a121d;
  --color-base-red-900: #480e17;
  --color-base-orange-100: #ffe8cd;
  --color-base-orange-200: #ffd19b;
  --color-base-orange-300: #ffba6a;
  --color-base-orange-400: #ffa338;
  --color-base-orange-500: #ff8c06;
  --color-base-orange-600: #cc7005;
  --color-base-orange-700: #995404;
  --color-base-orange-800: #663802;
  --color-base-orange-900: #522d02;
  --color-base-yellow-100: #fffbe6;
  --color-base-yellow-200: #fff4b4;
  --color-base-yellow-300: #ffed83;
  --color-base-yellow-400: #ffe551;
  --color-base-yellow-500: #ffda06;
  --color-base-yellow-600: #e6c405;
  --color-base-yellow-700: #ccae05;
  --color-base-yellow-800: #998304;
  --color-base-yellow-900: #665702;
  --color-base-green-100: #e8faf0;
  --color-base-green-200: #d1f4e1;
  --color-base-green-300: #8be4b5;
  --color-base-green-400: #5dd997;
  --color-base-green-500: #2ece7a;
  --color-base-green-600: #15b560;
  --color-base-green-700: #118849;
  --color-base-green-800: #0c6536;
  --color-base-green-900: #084826;
  --color-base-blue-100: #e6eff8;
  --color-base-blue-200: #b3d0ea;
  --color-base-blue-300: #80b1dd;
  --color-base-blue-400: #66a1d6;
  --color-base-blue-500: #3381c8;
  --color-base-blue-600: #1a72c1;
  --color-base-blue-700: #0062ba;
  --color-base-blue-800: #004e95;
  --color-base-blue-900: #00315d;
  --color-base-purple-100: #f5e8f2;
  --color-base-purple-200: #e0b9d8;
  --color-base-purple-300: #cc8bbf;
  --color-base-purple-400: #b75da5;
  --color-base-purple-500: #a22e8b;
  --color-base-purple-600: #98177e;
  --color-base-purple-700: #7a1265;
  --color-base-purple-800: #5b0e4c;
  --color-base-purple-900: #490b3d;
  /**
	* @tokens Color Fonts
	* @presenter Color
  */
  --color-font-base: #e6586d;
  --color-font-secondary: #15b560;
  --color-font-tertiary: #cccccc;
  /**
	* @tokens Size Fonts
	* @presenter FontSize
  */
  --size-font-small: 0.75rem;
  --size-font-medium: 1rem;
  --size-font-large: 2rem;
  --size-font-base: 1rem;
}
